go 1.26.0

use (
	.
	./adapter/anthropic
	./adapter/gemini
	./adapter/ollama
	./adapter/openai
	./cmd/prompty-gen
	./examples/basic_chat
	./examples/funcmap_tools
	./examples/git_prompts
	./examples/secure_prompt
	./remoteregistry/git
)
